* {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
}

html {
    box-sizing: border-box;
}

/* Nav */
.nav {
    display: flex;
    align-items: center;
    background-color: #333;
}

.nav__list {
    padding-left: 16px;
    list-style: none;
    display: flex;
    margin: 0;
}

.nav__link {
    display: block;
    color: #fff;
    padding: 12px 18px;
    font-size: 1rem;
    text-decoration: none;
}

.nav__bars-btn {
    width: 26px;
    height: 26px;
    margin: 12px;
    display: none;
    cursor: pointer;
}

.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}

.nav__mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform linear 0.2s, opacity linear 0.2s;
    will-change: transform, opacity;
}

.nav__mobile-list {
    margin-top: 24px;
    list-style: none;
}

.nav__mobile-link {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 0;
    font-size: 1.2rem;
}

.nav__mobile-close {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 0.4rem;
    right: 1rem;
}

.nav__input {
    display: none;
}

.nav__input:checked ~ .nav__overlay {
    display: block;
}

.nav__input:checked ~ .nav__mobile {
    opacity: 1;
    transform: translateX(0);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Product */
.main__product {
    display: flex;
    padding: 10px;
}

.main__product-img {
    width: 40%;
    padding-top: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.main__product-info {
    width: 60%;
    padding: 10px;
}

/* Course */
.column-layout {
    margin-top: 36px;
    padding: 12px 0;
    background-color: #fff;
    display: flex;
}

.column-layout__category {
    width: 20%;
    padding: 0 16px;
}

.column-layout__container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.column-item {
    width: 25%;
    padding: 0 16px;
}

/* Feature */
.feature-layout {
    margin-top: 36px;
    display: flex;
    justify-content: space-around;
}

.feature-item {
    padding: 12px 16px;
    margin-top: 16px;
    flex-basis: 30%;
}

.feature-item:nth-child(1) {
    background-color: #b8dfda;
}

.feature-item:nth-child(2) {
    background-color: #DCBFB6;
}

.feature-item:nth-child(3) {
    background-color: #DFB9E1;
}

/* Responsive (1em = 16px) */
/* PC/Laptop: width >= 1024px */

/* Mobile & Tablet: width < 1024px */
@media only screen and (max-width: 63.9375em) {
    /* Nav */
    .nav__bars-btn {
        display: block;
    }
    .nav__pc {
        display: none;
    }
    
    /* Product */
    .main__product {
        flex-direction: column-reverse;
    }
    .main__product-info {
        width: 100%;
    }
    .main__product-desc {
        display: none;
    }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    /* Product */
    .main__product-img {
        width: 95%;
        padding-top: 85%;
    }

    /* Course */
    .column-layout__category {
        display: none;
    }
    .column-layout__container {
        width: 100%;
    }
    .column-item {
        width: 100%;
        text-align: center;
    }

    /* Feature */
    .feature-layout {
        flex-direction: column;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    /* Product */
    .main__product-img {
        width: 85%;
        padding-top: 85%;
    }

    /* Course */
    .column-item {
        width: 33.333%;
    }
}